body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    color:blue;
    font-family:"Comic Sans MS";
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

   h3 {
	float: left;
	color: green;

	font-size: 20px;
}
marquee {
	text-decoration: blanchedalmond;
	text-shadow: initial;
	direction: ltr;
	font-size: x-large;
	font-family: arial;
}
hr {
	border-style: dashed;
	border-color: blue;
}